html {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    font-family: "exo2", "Arial", sans-serif;
    color: #585858;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

body {
    background-color: #ffffff;
}

header {
    height: auto;
    background-color: #ffffff;
    padding: 10px;
    padding-left: 50px;
}

img {
    display: block;
    max-width: 100%;
    height: 70px;
}

.container {
    width: 100%;
    height: 100%;
    background-color: #fff;
    border: 1px solid black;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    padding-top: 20px;
    padding-bottom: 20px;
}

.main-container {
    width: 95%;
    background-color: #f2f4f8;
    padding: 30px;
    flex-direction: column;
}

.invoice-numbers-container {
    justify-content: space-around;
    border-radius: 12px 12px 0 0;
}

.input-container {
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 20px;
}

.input-field {
    margin-top: 10px;
    margin-left: 20px;
}

.lets-go {
    height: 50px;
    width: 100px;
    margin-top: 100%;
    cursor: pointer;
    background-color: #10a9a0;
    color: #fff;
    font-style: inherit;
    font-weight: inherit;
    font-size: 18px;
    margin-bottom: 50px;
}

p {
    text-align: center;
}

textarea {
    resize: none;
    font-family: inherit;
    border-radius: 6px 6px 0 0 ;
    margin-bottom: 10px;
    padding: 10px 0 0 10px;
    background-color: #f2f4f8;
}

.output {
    width: 100%;
    height: 100%;
    background-color: white;
    margin: 15px;
    text-align: center;
}

.output-container {
    border-radius: 0 0 12px 12px;
}

.invoice-number-output {
    margin-top: 20px;
    height: 20px;
    text-align: center;
}

.button-container {
    text-align: center;
}

.footer {
    height: auto;
    background-color: #ffffff;
    padding: 10px;
    padding-left: 50px;
}

.button-wrapper {
    margin: 0 auto;
    width: 90px;
    height: 50px;
    background-color: gray;
    border: 1px solid black;
    border-radius: 30px;
    cursor: pointer;
    margin-bottom: 50px;
}

.checkbox-button {
    background-color: white;
    width: 45px;
    height: 90%;
    margin: 2.5px;
    border-radius: inherit;
    float: left;
    transition: margin-left linear 0.08s;
}

.switchedOn {margin-left: 42.5px;}

.painted {background-color: #10a9a0}

.precision-level-setting {
    height: 30px;
}